.DS_Store
__pycache__
.idea/
.pytest_cache/
.venv/
allure-report/
allure-results/
config/
pages/__pycache__/
pages/capital_com/__pycache__/
report/
tests/__pycache__/
tests/Chrome/
tests/Edge/
tests/Firefox
tests/Safari
tests/geckodriver.log
tests/hwinfo.txt
tests/hwinfo_example.py
txt/
__init__.py
geckodriver.log
poetry.lock
