.DS_Store
__pycache__
.idea/
.pytest_cache/
.run/
.venv/
allure-report/
allure-results/
config/
pages/__pycache__/
pages/Learn/__pycache__/
pages/Markets/__pycache__/
report/
src/__pycharm__/
tests/__pycache__/
tests/Capital/__pycache__/
tests/Learn/__pycache_/
tests/Learn/list_of_href_En.txt
tests/Learn/list_of_href.txt
tests/Markets/__pycache__/
tests/hwinfo.txt
tests/hwinfo_example.py
tmp/
txt/
__init__.py
geckodriver.log
poetry.lock
