.DS_Store
__pycache__
.idea
.pytest_cache
.venv
allure-reports/
capital_com/
config/
pages/__pycache__/
report/
tests/__pycache__/
tests/__init__.py
tests/geckodriver.log
txt/
__init__.py
geckodriver.log
